{% load static %}
<div class="buy-now__backdrop is-hidden" data-hero-modal data-sellers-modal>
    <div class="container buy-now__modal-container">
        <button
                type="button"
                class="buy-now__close-btn"
                data-hero-close
                data-sellers-close
        >
            <svg class="buy-now__close-btn-icon" width="18" height="18">
                <use href="/static/img/sprite.svg#icon-vector"></use>
            </svg>
        </button>

        <form class="buy-now__modal-form">
            <h2 class="buy-now__desc title">
                <span class="buy-now__span">BUY</span>&nbsp;NOW
            </h2>
            <ul class="buy-now__list">
                <li class="buy-now__list-title">
                    <div class="buy-now__list-wrapper">
                        <picture>
                            <source
                                    srcset="{% static 'img/buy_now/kinder_buy_now_desk.jpg' %} 1x, {% static 'img/buy_now/kinder_buy_now_desk_2x.jpg' %} 2x"
                                    media="(min-width: 1200px)"
                            />
                            <source
                                    srcset="{% static 'img/buy_now/kinder_buy_now_tablet.jpg' %} 1x, {% static 'img/buy_now/kinder_buy_now_tablet_2x.jpg' %} 2x"
                                    media="(min-width: 768px)"
                            />
                            <source
                                    srcset="{% static 'img/buy_now/kinder_buy_now_mobile.jpg' %} 1x, {% static 'img/buy_now/kinder_buy_now_mobile_2x.jpg' %} 2x"
                                    media="(min-width: 375px)"
                            />
                            <img
                                    src="{% static 'img/buy_now/kinder_buy_now_mobile.jpg' %}"
                                    alt="chocolate_kinder"
                                    width="84"
                                    class="buy-now__chocolate-list"
                            />
                        </picture>
                        <button class="buy-now__gram">100 g</button>
                    </div>
                </li>
                <li class="buy-now__list-title">
                    <div class="buy-now__list-wrapper">
                        <picture>
                            <source
                                    srcset="{% static 'img/buy_now/praline_buy_now_desk.jpg' %} 1x, {% static 'img/buy_now/praline_buy_now_desk_2x.jpg' %} 2x"
                                    media="(min-width: 1200px)"
                            />
                            <source
                                    srcset="{% static 'img/buy_now/praline_buy_now_tablet.jpg' %} 1x, {% static 'img/buy_now/praline_buy_now_tablet_2x.jpg' %} 2x"
                                    media="(min-width: 768px)"
                            />
                            <source
                                    srcset="{% static 'img/buy_now/praline_buy_now_mobile.jpg' %} 1x, {% static 'img/buy_now/praline_buy_now_mobile_2x.jpg' %} 2x"
                                    media="(min-width: 375px)"
                            />
                            <img
                                    src="{% static 'img/buy_now/praline_buy_now_mobile.jpg' %}"
                                    alt="chocolate_praline"
                                    width="84"
                                    class="buy-now__chocolate-list"
                            />
                        </picture>
                        <button class="buy-now__gram">200 g</button>
                    </div>
                </li>
                <li class="buy-now__list-title">
                    <div class="buy-now__list-wrapper">
                        <picture>
                            <source
                                    srcset="{% static 'img/buy_now/dark_chocolate_buy_now_desk.jpg' %} 1x, {% static 'img/buy_now/dark_chocolate_buy_now_desk_2x.jpg' %} 2x"
                                    media="(min-width: 1200px)"
                            />
                            <source
                                    srcset="{% static 'img/buy_now/dark_chocolate_buy_now_tablet.jpg' %} 1x, {% static 'img/buy_now/dark_chocolate_buy_now_tablet_2x.jpg' %} 2x"
                                    media="(min-width: 768px)"
                            />
                            <source
                                    srcset="{% static 'img/buy_now/dark_chocolate_buy_now_mobile.jpg' %} 1x, {% static 'img/buy_now/dark_chocolate_buy_now_mobile_2x.jpg' %} 2x"
                                    media="(min-width: 375px)"
                            />
                            <img
                                    src="{% static 'img/buy_now/dark_chocolate_buy_now_mobile.jpg' %}"
                                    alt="chocolate_dark"
                                    width="84"
                                    class="buy-now__chocolate-list"
                            />
                        </picture>
                        <button class="buy-now__gram">300 g</button>
                    </div>
                </li>
            </ul>

            <div class="buy-now__user-inform">
                <label class="buy-now__modal-form-field" for="user-name">
                    <span class="buy-now__modal-form-wrapper">Personal information</span>
                    <span class="buy-now__modal-form-desc">
            <input
                    type="text"
                    name="user-name"
                    id="user-name"
                    class="buy-now__modal-form-input buy-now__name"
                    placeholder="Name"
                    required
                    pattern="[a-zA-Zа-яА-Я]+"
                    minlength="2"
            />
          </span>
                </label>

                <label class="buy-now__modal-form-field" for="user-surname">
          <span class="buy-now__modal-form-desc">
            <input
                    type="text"
                    name="user-surname"
                    id="user-surname"
                    class="buy-now__modal-form-input"
                    placeholder="Surname"
                    required
                    pattern="[a-zA-Zа-яА-Я]+"
                    minlength="2"
            />
          </span>
                </label>
            </div>

            <label class="buy-now__modal-form-field" for="user-email">
                <span class="buy-now__modal-form-wrapper">Email</span>
                <span class="buy-now__modal-form-desc">
          <input
                  type="email"
                  name="user-email"
                  id="user-email"
                  class="buy-now__modal-form-input"
                  placeholder="Enter your email"
                  aria-label="E-mail"
                  required
          />
        </span>
            </label>
            <label class="buy-now__modal-form-field" for="user-phone">
                <span class="buy-now__modal-form-wrapper">Phone number</span>
                <span class="buy-now__modal-form-desc"></span>
                <span class="buy-now__modal-wrap-desk">
          <input
                  type="tel"
                  name="user-phone"
                  class="buy-now__modal-form-input modal-phone buy-now__form-modal"
                  placeholder="Phone number"
                  required
                  id="user-phone"
                  pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
                  title="xxx-xxx-xx-xx"
                  minlength="2"
          />
          <span class="buy-now__modal-flag">
            <svg class="buy-now__svg-flag" width="24" height="24">
              <use href="/static/img/sprite.svg#icon-flag"></use>
            </svg>
            <span class="buy-now__modal-tel">+380</span>
          </span>
        </span>
            </label>
            <label class="buy-now__modal-form-field" for="text">
                <span class="buy-now__modal-form-wrapper">Card number</span>
                <span class="buy-now__modal-form-desc">
          <input
                  type="text"
                  name="text"
                  id="text"
                  class="buy-now__modal-form-input"
                  placeholder="Enter card"
                  required
                  pattern="[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{4}"
                  title="xxxx-xxxx-xxxx-xxxx"
                  minlength="2"
          />
          <svg class="buy-now__svg-icon" width="32" height="21">
            <use href="/static/img/sprite.svg#icon-mastercard"></use>
          </svg>
        </span>
            </label>
            <label class="buy-now__modal-form-field" for="user-message">
                <span class="buy-now__modal-form-wrapper">Comment</span>
                <span class="buy-now__modal-form-desc">
          <textarea
                  class="buy-now__modal-form-input buy-now__message"
                  name="user-message"
                  id="user-message"
                  placeholder="Enter text"
          ></textarea>
        </span>
            </label>
            <div class="submit-modal-btn">
                <button class="buy-now__modal-close-button">Submit</button>
            </div>
        </form>
    </div>
</div>
