<footer class="footer-section" id="footer">
  <div class="footer-container">
    <div class="footer-logo-section">
      <p class="footer-slogan">
        <span class="footer-span">Chocolate</span> a delicious cure for a bad
        day
      </p>
      <div class="footer-contact-information">
        <div class="footer-contacts">
          <h3 class="footer-contact-header">Contact us</h3>
          <ul class="footer-auth-nav">
            <li class="footer-auth-tel">
              <a href="tel:+380684439426" class="footer-link"
                >+380 (68) 443-94-26</a
              >
            </li>
            <li class="footer-auth-mail">
              <a href="mailto:simplychoc@gmail.com" class="footer-link"
                >simplychoc@gmail.com</a
              >
            </li>
          </ul>
        </div>
        <div class="footer-social-media">
          <ul class="socials">
            <li class="footer-instagram">
              <a
                href="https://www.instagram.com/lviv.chocolate/"
                class="footer-link-svg"
                target="_blank"
                rel="noopener noreferrer nofollow"
              >
                <svg class="inst-svg" width="24" height="24">
                  <use href="/static/img/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="footer-twitter">
              <a
                href="https://twitter.com/Sweet_gifts_"
                class="footer-link-svg"
                target="_blank"
                rel="noopener noreferrer nofollow"
              >
                <svg class="twit-svg" width="24" height="24">
                  <use href="/static/img/sprite.svg#icon-twitter1"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-filters">
      <ul class="footer-filters-items">
        <li class="footer-item">
          <a href="#header" class="footer-link current">Home</a>
        </li>
        <li class="footer-item">
          <a href="#how-its-made" class="footer-link">How it's made?</a>
        </li>
        <li class="footer-item">
          <a href="#our-products" class="footer-link">Our products</a>
        </li>
        <li class="footer-item">
          <a href="#sellers" class="footer-link">Top sellers</a>
        </li>
        <li class="footer-item">
          <a href="#reviews" class="footer-link">Chocolate is loved</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
