<header class="header header-fixed" id="header">
  <div class="container">
    <!--------------MOBILE HEADER--------------------->
    <div class="header-sup header-mobile">
      <a href="#" class="logo-header">
        <span class="logo-simply">SIMPLY</span>&nbsp;CHOCOLATE
        <span class="chocolate">
          <svg width="21" height="21">
            <use href="/static/img/sprite.svg#icon-logo-chocolate"></use>
          </svg>
        </span>
      </a>
      <button
        type="button"
        class="open-hamburger js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="icon-menu" width="21" height="21">
          <use href="/static/img/sprite.svg#icon-icon-menu"></use>
        </svg>
      </button>
    </div>
    <div class="hamburger-menu js-menu-container">
      <button class="modal-button js-close-menu" id="mobile-menu">
        <svg class="icon-close">
          <use href="/static/img/sprite.svg#icon-close-tag"></use>
        </svg>
      </button>
      <nav class="header-nav">
        <ul class="list-header">
          <li class="nav-list">
            <a href="#header" class="item-nav">Home</a>
          </li>
          <li class="nav-list">
            <a href="#how-its-made" class="item-nav">How it`s made</a>
          </li>
          <li class="nav-list">
            <a href="#our-products" class="item-nav">Our producrs</a>
          </li>
          <li class="nav-list">
            <a href="#sellers" class="item-nav">Top sellers</a>
          </li>
          <li class="nav-list">
            <a href="#reviews" class="item-nav">Chocolate is loved</a>
          </li>
        </ul>
      </nav>
      <div class="down-content">
        <ul class="hamburger-social-list">
          <li class="social-item-menu">
            <a
              href="https://www.instagram.com/lviv.chocolate/"
              class="hamburger-link"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="hamburger-icon-instagram" width="24" height="24">
                <use href="/static/img/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-item-menu">
            <a
              href="https://twitter.com/Sweet_gifts_"
              class="hamburger-link"
              target="_blank"
              rel="noopener noreferrer nofollow"
            >
              <svg class="hamburger-icon" width="24" height="24">
                <use href="/static/img/sprite.svg#icon-twitter1"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-----------DESKTOP------------>
    <div class="header-desktop">
      <a href="#" class="logo-header">
        <span class="logo-simply">SIMPLY</span>&nbsp;CHOCOLATE
        <span class="chocolate">
          <svg width="24" height="24">
            <use href="/static/img/sprite.svg#icon-logo-chocolate"></use>
          </svg>
        </span>
      </a>
      <nav class="header-nav">
        <ul class="list-header">
          <li class="nav-list">
            <a href="#header" class="item-nav">Home</a>
          </li>
          <li class="nav-list">
            <a href="#how-its-made" class="item-nav">How it`s made</a>
          </li>
          <li class="nav-list">
            <a href="#our-products" class="item-nav">Our producrs</a>
          </li>
          <li class="nav-list">
            <a href="#sellers" class="item-nav">Top sellers</a>
          </li>
          <li class="nav-list">
            <a href="#reviews" class="item-nav">Chocolate is loved</a>
          </li>
        </ul>
      </nav>
      <ul class="hamburger-social-list">
        <li class="social-item-menu">
          <a
            href="https://www.instagram.com/lviv.chocolate/"
            class="hamburger-link"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <svg class="hamburger-icon-instagram" width="24" height="24">
              <use href="/static/img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-item-menu">
          <a
            href="https://twitter.com/Sweet_gifts_"
            class="hamburger-link"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <svg class="hamburger-icon" width="24" height="24">
              <use href="/static/img/sprite.svg#icon-twitter1"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
