{% load static %}
<section class="our-products" id="our-products">
  <div class="container">
    <h2 class="title">OUR <span class="our-products-second-title">PRODUCTS</span></h2>
    <div class="container-slider">
      <div class="slider-content mySwiper">
        <ul class="swiper-wrapper">
          <li class="card-content swiper-slide">
            <img
              srcset="{% static 'img/our_products/org_chocolate.jpg' %} 1x, {% static 'img/our_products/org_chocolate_2x.jpg' %} 2x"
              src="{% static 'img/our_products/org_chocolate.jpg' %}" alt="orange-chocolate" class="product-image">
            <div class="chocolate-details">
              <h3 class="chocolate-taste">Orange</h3>
              <span class="chocolate-type">Dark chocolate</span>
            </div>
            <button type="button" class="chocolate-price">45 UAH</button>
          </li>
          <li class="card-content swiper-slide">
            <img
              srcset="{% static 'img/our_products/apple_our_products.jpg' %} 1x, {% static 'img/our_products/apple_our_products_2x.jpg' %} 2x"
              src="{% static 'img/our_products/apple_our_products.jpg' %}" alt="apple-chocolate" class="product-image">
            <div class="chocolate-details">
              <h3 class="chocolate-taste">APPLE&CRANBERRY</h3>
              <span class="chocolate-type">Milk chocolate</span>
            </div>
            <button type="button" class="chocolate-price">50 UAH</button>
          </li>
          <li class="card-content swiper-slide">
            <img
              srcset="{% static 'img/our_products/lime_our_products.jpg' %} 1x, {% static 'img/our_products/lime_our_products_2x.jpg' %} 2x"
              src="{% static 'img/our_products/lime_our_products.jpg' %}" alt="lime-chocolate" class="product-image">
            <div class="chocolate-details">
              <h3 class="chocolate-taste">lime&sea salt</h3>
              <span class="chocolate-type">Dark chocolate</span>
            </div>
            <button type="button" class="chocolate-price">66 UAH</button>
          </li>
          <li class="card-content swiper-slide">
            <img
              srcset="{% static 'img/our_products/pineapple_our_products.jpg' %} 1x, {% static 'img/our_products/pineapple_our_products_2x.jpg' %} 2x"
              src="{% static 'img/our_products/pineapple_our_products.jpg' %}" alt="pineapple-chocolate" class="product-image">
            <div class="chocolate-details">
              <h3 class="chocolate-taste">PINEAPPLE</h3>
              <span class="chocolate-type">Dark chocolate</span>
            </div>
            <button type="button" class="chocolate-price">54 UAH</button>
          </li>
          <li class="card-content swiper-slide">
            <img
              srcset="{% static 'img/our_products/classic_our_products.jpg' %} 1x, {% static 'img/our_products/classic_our_products_2x.jpg' %} 2x"
              src="{% static 'img/our_products/classic_our_products.jpg' %}" alt="classic-chocolate" class="product-image">
            <div class="chocolate-details">
              <h3 class="chocolate-taste">CLASSIC</h3>
              <span class="chocolate-type">Milk chocolate</span>
            </div>
            <button type="button" class="chocolate-price">45 UAH</button>
          </li>
          <li class="card-content swiper-slide">
            <img
              srcset="{% static 'img/our_products/honey_our_products.jpg' %} 1x, {% static 'img/our_products/honey_our_products_2x.jpg' %} 2x"
              src="{% static 'img/our_products/honey_our_products.jpg' %}" alt="honey-chocolate" class="product-image">
            <div class="chocolate-details">
              <h3 class="chocolate-taste">Honey</h3>
              <span class="chocolate-type">Milk chocolate</span>
            </div>
            <button type="button" class="chocolate-price">50 UAH</button>
          </li>
          <li class="card-content swiper-slide">
            <img
              srcset="{% static 'img/our_products/roasted_fruits_our_products.jpg' %} 1x, {% static 'img/our_products/roasted_fruits_our_products_2x.jpg' %} 2x"
              src="{% static 'img/our_products/honey_our_products.jpg' %}" alt="roasted_fruits-chocolate"
              class="product-image">
            <div class="chocolate-details">
              <h3 class="chocolate-taste">ROASTED FRUITS</h3>
              <span class="chocolate-type">Dark chocolate</span>
            </div>
            <button type="button" class="chocolate-price">66 UAH</button>
          </li>
          <li class="card-content swiper-slide">
            <img
              srcset="{% static 'img/our_products/white_our_products.jpg' %} 1x, {% static 'img/our_products/white_our_products_2x.jpg' %} 2x"
              src="{% static 'img/our_products/honey_our_products.jpg' %}" alt="white-chocolate" class="product-image">
            <div class="chocolate-details">
              <h3 class="chocolate-taste">Classic</h3>
              <span class="chocolate-type">White chocolate</span>
            </div>
            <button type="button" class="chocolate-price">54 UAH</button>
          </li>
        </ul>
      </div>
      <div class="swiper-pagination-2"></div>
    </div>
  </div>
</section>