{% load static %}
<section class="reviews-section" id="reviews">
  <div class="container">
    <h2 class="reviews-section-title title">
      <span class="part-section-title">chocolate </span>
      is loved
    </h2>
    <div class="reviews-slider swiper">
      <!-- Additional required wrapper -->
      <ul class="reviews-slider-wrapper swiper-wrapper">
        <!-- Slides -->
        <li class="reviews-slider-item swiper-slide">
          <div class="reviewer-wrapper">
            <img
              class="photo-of-reviewer"
              srcset="{% static 'img/reviews/victoria_dobrzhanska_reviews.jpg' %} 1x, {% static 'img/reviews/victoria_dobrzhanska_reviews_2x.jpg' %} 2x"
              src="{% static 'img/buy_now/victoria_dobrzhanska_reviews.jpg' %}"
              alt="The photo of Victoria Dobrzhanska"
            />
            <h3 class="name-of-reviewer">Victoria Dobrzhanska</h3>
          </div>
          <p class="review">
            I love this chocolate bar. Perfect combination of light crispy
            wafer, covered in a thin layer chocolate.
          </p>
        </li>
        <li class="reviews-slider-item swiper-slide">
          <div class="reviewer-wrapper">
            <img
              class="photo-of-reviewer"
              srcset="{% static 'img/reviews/nazar_babenko_reviews.jpg' %} 1x, {% static 'img/reviews/nazar_babenko_reviews_2x.jpg' %} 2x"
              src="{% static 'img/buy_now/nazar_babenko_reviews.jpg' %}"
              alt="The photo of Nazar Babenko"
            />
            <h3 class="name-of-reviewer">Nazar Babenko</h3>
          </div>
          <p class="review">
            This chocolate confection is a delight! A delight! The wafer is
            light and crisp, the hazelnut cream is smooth, and the chocolate is
            good.
          </p>
        </li>
        <li class="reviews-slider-item swiper-slide">
          <div class="reviewer-wrapper">
            <img
              class="photo-of-reviewer"
              srcset="{% static 'img/reviews/olena_kampusch_reviews.jpg' %} 1x, {% static 'img/reviews/olena_kampusch_reviews_2x.jpg' %} 2x"
              src="{% static 'img/buy_now/olena_kampusch_reviews.jpg' %}"
              alt="The photo of Olena Kampusch"
            />
            <h3 class="name-of-reviewer">Olena Kampusch</h3>
          </div>
          <p class="review">
            Chocolate is a family favourite treat. Love the delicious smooth
            chocolate and the creaminess inside. The wafer is soft but crunchy.
          </p>
        </li>
        <li class="reviews-slider-item swiper-slide">
          <div class="reviewer-wrapper">
            <img
              class="photo-of-reviewer"
              srcset="{% static 'img/reviews/natalia_sus_reviews.jpg' %} 1x, {% static 'img/reviews/natalia_sus_reviews_2x.jpg' %} 2x"
              src="{% static 'img/buy_now/natalia_sus_reviews.jpg' %}"
              alt="The photo of Natalia Sus"
            />
            <h3 class="name-of-reviewer">Natalia Sus</h3>
          </div>
          <p class="review">
            The chocolate assortment was delicious. Both dark and milk chocolate
            pieces were smooth and just right on the sweetness level.
          </p>
        </li>
        <li class="reviews-slider-item swiper-slide">
          <div class="reviewer-wrapper">
            <img
              class="photo-of-reviewer"
              srcset="{% static 'img/reviews/danilo_nottingham_reviews.jpg' %} 1x, {% static 'img/reviews/danilo_nottingham_reviews_2x.jpg' %} 2x"
              src="{% static 'img/buy_now/danilo_nottingham_reviews.jpg' %}"
              alt="The photo of Danilo Nottingham"
            />
            <h3 class="name-of-reviewer">Danilo Nottingham</h3>
          </div>
          <p class="review">
            This is delicious. It so rich and flavorful you don’t need to use as
            many. I love topping an apple with almond butter and these chips for
            a snack.
          </p>
        </li>
        <li class="reviews-slider-item swiper-slide">
          <div class="reviewer-wrapper">
            <img
              class="photo-of-reviewer"
              srcset="{% static 'img/reviews/irina_tydnyuk_reviews.jpg' %} 1x, {% static 'img/reviews/irina_tydnyuk_reviews_2x.jpg' %} 2x"
              src="{% static 'img/buy_now/irina_tydnyuk_reviews.jpg' %}"
              alt="The photo of Irina Tydnyuk"
            />
            <h3 class="name-of-reviewer">Irina Tydnyuk</h3>
          </div>
          <p class="review">
            This is simply the best chocolate around, and I'm just thrilled to
            support a local company! Best local chocolate - world class:)
          </p>
        </li>
      </ul>
      <div class="reviews-slider-pagination swiper-pagination-1"></div>
    </div>
    <button class="reviews-btn btn" type="button" data-review-open>
      Leave a review
    </button>
  </div>
</section>
