{% load static %}
<section class="sellers" id="sellers">
    <div class="container">
        <h2 class="sellers-title title"><span>Top</span> Sellers</h2>
        <ul class="sellers-list">
            <li class="sellers-item">
                <img
                        srcset="{% static 'img/top_sellers/choc_nut_top_sellers_desk.jpg' %} 1x, {% static 'img/top_sellers/choc_nut_top_sellers_desk_2x.jpg' %} 2x"
                        src="{% static 'img/buy_now/choc_nut_top_sellers_desk.jpg' %}"
                        alt="chocolate"
                        width="368"
                        height="464"
                />
                <p class="sellers-item-description">
                    Crazy enough chocolate originates from a bean just like the coffee
                    bean called Cacao. Cacao has been around for thousands of years and
                    was first discovered by the Native American tribe called the Mayans.
                </p>
            </li>
            <li class="sellers-item">
                <img
                        srcset="{% static 'img/top_sellers/raisin_top_sellers_desk.jpg' %} 1x, {% static 'img/top_sellers/raisin_top_sellers_desk_2x.jpg' %} 2x"
                        src="{% static 'img/buy_now/raisin_top_sellers_desk.jpg' %}"
                        alt="chocolate"
                        width="368"
                        height="464"
                />
            </li>
            <li class="sellers-item">
                <img
                        srcset="{% static 'img/top_sellers/truffel_top_sellers_desk.jpg' %} 1x, {% static 'img/top_sellers/truffel_top_sellers_desk_2x.jpg' %} 2x"
                        src="{% static 'img/buy_now/raisin_top_sellers_desk.jpg' %}"
                        alt="chocolate"
                        width="368"
                        height="464"
                />
                <button type="button" class="sellers-btn btn" data-sellers-open>Buy now</button>
            </li>
        </ul>
    </div>
</section>
