{% load static %}
<!-- Unique components section -->
<section class="unique" id="unique">
    <div class="unique-container container">
        <h2 class="unique-title title">
            IT ALL ADDS UP TO ONE EXCEPTIONAL
            <span class="unique-title-span">TASTE</span> SENSATION
        </h2>
        <p class="unique-text">
            At Simply Chocolate, we believe that the secret to exceptional chocolate is in the details. From the
            sourcing of the finest ingredients to the careful crafting of each individual piece, every step of our
            process adds up to one exceptional taste sensation.
        </p>
        <ul class="unique-list">
            <li class="unique-item chocolate-item">
                <div class="cards-link">
                    <div class="unique-front">
                        <img
                                srcset="{% static 'img/unique_components/chocolate_unique_desk.png' %} 1x, {% static 'img/unique_components/chocolate_unique_desk_2x.png' %} 2x"
                                src="{% static 'img/unique_components/chocolate_unique_desk.jpg' %}" alt="chocolate"
                                class="unique-front-img" width="224" height="171"/>
                        <p class="unique-front-text">MILK CHOCOLATE</p>
                    </div>
                    <div class="unique-back">
                        <h3 class="unique-back-title">MILK CHOCOLATE</h3>
                        <ul class="unique-back-list">
                            <li class="unique-back-item">
                                <button type="button" class="unique-btn-1 chocolate-btn-1">
                                    chocolate
                                </button>
                            </li>
                            <li class="unique-back-item">
                                <button type="button" class="unique-btn-2">the benefits</button>
                            </li>
                        </ul>
                        <p class="unique-back-text">
                            Milk chocolate is a solid chocolate confectionery containing cocoa, sugar and milk. It is
                            the most consumed type of chocolate. Chocolate was originally sold and consumed as a
                            beverage in pre-Columbian times. Although four-fifths of all milk chocolate
                            is sold in the United States and Europe, increasingly large amounts are consumed in China
                            and Latin America.
                        </p>
                    </div>
                </div>
            </li>
            <li class="unique-item milk-semi-item">
                <div class="cards-link">
                    <div class="unique-front">
                        <img
                                srcset="{% static 'img/unique_components/milk_unique_desk.png' %} 1x, {% static 'img/unique_components/milk_unique_desk_2x.png' %} 2x"
                                src="{% static 'img/unique_components/milk_unique_desk.jpg' %}" alt="milk"
                                class="unique-front-img" width="224"
                                height="171"/>
                        <p class="unique-front-text milk-semi-text">MILK</p>
                    </div>
                    <div class="unique-back">
                        <h3 class="unique-back-title">MILK</h3>
                        <ul class="unique-back-list">
                            <li class="unique-back-item">
                                <button type="button" class="unique-btn-1 milk-btn-1">
                                    milk
                                </button>
                            </li>
                            <li class="unique-back-item">
                                <button type="button" class="unique-btn-2">the benefits</button>
                            </li>
                        </ul>
                        <p class="unique-back-text milk-back-text">
                            Milk is a white liquid food produced by the mammary glands of mammals. It is the primary
                            source of nutrition for young mammals (including breastfed human infants) before they are
                            able to digest solid food.Early-lactation milk, which is called colostrum,
                            contains antibodies that strengthen the immune system, and thus reduces the risk of many
                            diseases. Milk contains many nutrients, including protein and lactose.
                        </p>
                    </div>
                </div>
            </li>
            <li class="unique-item nuts-item">
                <div class="cards-link">
                    <div class="unique-front">
                        <img
                                srcset="{% static 'img/unique_components/nuts_unique_desk.png' %} 1x, {% static 'img/unique_components/nuts_unique_desk_2x.png' %} 2x"
                                src="{% static 'img/unique_components/nuts_unique_desk.jpg' %}" alt="nuts"
                                class="unique-front-img" width="224"
                                height="171"/>
                        <p class="unique-front-text">NUTS</p>
                    </div>
                    <div class="unique-back">
                        <h3 class="unique-back-title">NUTS</h3>
                        <ul class="unique-back-list">
                            <li class="unique-back-item">
                                <button type="button" class="unique-btn-1 nuts-btn-1">
                                    nuts
                                </button>
                            </li>
                            <li class="unique-back-item">
                                <button type="button" class="unique-btn-2">the benefits</button>
                            </li>
                        </ul>
                        <p class="unique-back-text">
                            Almonds, pistachios, and walnuts are some types of nuts that contain healthy nutrients. When
                            eaten as part of a nutrient-dense diet, these 9 nuts may offer benefits such as reducing
                            your risk of heart disease. They’re a good source of fiber, healthy fats,
                            and plant protein. Plus, they’re great on their own, paired with fruit, or added to dishes
                            like salads, desserts, and grains.
                        </p>
                    </div>
                </div>
            </li>
            <li class="unique-item milk-semi-item">
                <div class="cards-link">
                    <div class="unique-front">
                        <img
                                srcset="{% static 'img/unique_components/semi_sweet_unique_desk.png' %} 1x, {% static 'img/unique_components/semi_sweet_unique_desk_2x.png' %} 2x"
                                src="{% static 'img/unique_components/semi_sweet_unique_desk.jpg' %}" alt="semi" class="unique-front-img" width="224"
                             height="171"/>
                        <p class="unique-front-text milk-semi-text">
                            SEMI - SWEET CHOCOLATE
                        </p>
                    </div>
                    <div class="unique-back">
                        <h3 class="unique-back-title">SEMI - SWEET CHOCOLATE</h3>
                        <ul class="unique-back-list">
                            <li class="unique-back-item">
                                <button type="button" class="unique-btn-1 semi-btn-1">
                                    sweet chocolate
                                </button>
                            </li>
                            <li class="unique-back-item">
                                <button type="button" class="unique-btn-2">the benefits</button>
                            </li>
                        </ul>
                        <p class="unique-back-text semi-back-text">
                            Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of the best ways to gain an
                            understanding of this type of chocolate is to compare it to a different type of chocolate.
                            Semisweet is darker than milk chocolate. In a taste comparison, it
                            has a slightly bitter taste whereas milk chocolate is sweeter and more mellow. This
                            delectable flavor of chocolate is very versatile.
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>

  
                
              
             
             
               
             
        
             
             