/* ------Mobile----- */

.advantages-section {
  padding: 20px 0 20px;
  margin: 72px 0;

  background-color: #1e1823;
}

.advantages-item {
  max-width: 308px;
  margin-bottom: 38px;
}
@media screen and (max-width: 767px) {
  .advantages-item:last-child {
    margin-bottom: 16px;
  }
}

.advantages-icon-blok {
  width: 62px;
  height: 62px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 22px;
}

.advantages-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  margin-bottom: 18px;
  color: var(--sec-text-color);
}

.advantages-text {
  line-height: 1.21;
  color: var(--sec-description-color);
}

/* ------Tablet----- */

@media screen and (min-width: 768px) {
  .advantages-section {
    margin: 50px 0 0;
    padding: 50px 0;
  }

  .advantages-list {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages-item {
    margin-bottom: 38px;
  }

  @media screen and (max-width: 1199px) {
    .advantages-item:first-child {
      margin-right: 60px;
    }

    .advantages-item:last-child {
      margin-bottom: 35px;
    }
  }
}

/* ------Desktop-----  */

@media screen and (min-width: 1200px) {
  .advantages-section {
    margin: 72px 0 0;
  }

  .advantages-list {
    gap: 88px;
  }

  .advantages-item {
    margin-bottom: 0;

    position: relative;
  }

  .advantages-item:nth-child(-n + 2)::before {
    content: '';
    width: 124px;
    border: 1px solid rgba(255, 255, 255, 0.5);

    position: absolute;
    transform: rotate(90deg);
    left: 270px;
    top: 110px;
  }
}
