.footer-section {
  background-color: var(--sec-hover-color);
}

.footer-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 374px;
  padding: 32px 20px;
}

.footer-logo-section {
  margin-bottom: 32px;
}

.footer-slogan {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
  color: var(--pr-title-color);
  max-width: 300px;
  margin-bottom: 32px;
}

.footer-span {
  color: var(--accent-color);
}

.footer-contact-header {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  color: var(--pr-title-color);
  margin-bottom: 14px;
}

.footer-contact-information {
  display: flex;
  justify-content: space-between;
}

.footer-social-media {
  margin-left: auto;
}

.footer-instagram,
.footer-twitter {
  color: var(--pr-title-color);
}

.footer-auth-nav {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footer-auth-nav .footer-link {
  color: var(--pr-title-color);
}

.footer-filters::before {
  content: '';
  width: 280px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  display: inline-block;
  margin-bottom: 32px;
}

.footer-filters-items {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.footer-filters-items .footer-link {
  font-weight: 500;
  line-height: 1.14;
  color: var(--pr-title-color);
}

.footer-link {
  transition: color var(--transition-dur-and-func);
}
.footer-link:is(:hover, :focus) {
  color: var(--accent-color);
}

.socials {
  display: flex;
  gap: 14px;
}

.inst-svg,
.twit-svg {
  fill: transparent;
  stroke: var(--pr-title-color);
  transition: stroke var(--transition-dur-and-func);
}

.inst-svg:is(:hover, :focus),
.twit-svg:is(:hover, :focus) {
  stroke: var(--accent-color);
}
.footer-link-svg {
  display: block;
}
@media screen and (min-width: 375px) {
  .footer-container {
    max-width: 375px;
  }

  .footer-filters::before {
    width: 335px;
  }

  .footer-slogan {
    width: 300px;
  }
}

@media screen and (min-width: 768px) {
  .footer-container {
    max-width: 768px;
    padding: 50px 32px;
  }

  .footer-logo-section {
    display: flex;
    justify-content: space-between;
  }

  .footer-slogan {
    font-size: 28px;
  }

  .footer-contact-information {
    gap: 50px;
  }

  .footer-filters-items {
    flex-direction: unset;
    gap: 24px;
  }

  .footer-logo-section {
    margin-bottom: 50px;
  }
  .footer-filters::before {
    width: 704px;
  }

  .socials {
    gap: 18px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    max-width: 1200px;
  }

  .footer-contact-information {
    gap: 63px;
  }

  .footer-logo-section {
    margin-bottom: 62px;
  }

  .footer-filters::before {
    width: 1136px;
  }

  .socials {
    gap: 18px;
  }
}
