.how-its-made {
  padding-bottom: 72px;
}
.how-container {
  background-color: var(--sec-text-color);
  border-radius: 15px;
  padding: 20px 14px;
}
.how-its-made-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--pr-text-color);
  margin-bottom: 32px;
}
.how-its-made-img-block {
  cursor: pointer;
  position: relative;
  margin-bottom: 20px;
}
.how-its-made-img-block.ready iframe {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 500px;
  border-radius: 15px;
  z-index: 2;
}
.how-its-made-item {
  letter-spacing: -0.02em;
  color: var(--pr-text-color);
  margin-left: 16px;
}

.how-its-made-span {
  color: var(--accent-color);
  margin-left: 6px;
}
.try-it-interaction {
  display: block;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.333;
  color: var(--pr-text-color);
}
.how-its-made-list {
  display: flex;
  justify-content: center;
  flex-direction: column;

  row-gap: 18px;
}
.how-its-made-item {
  position: relative;
}
.how-its-made-item::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  left: -16px;
  top: 4px;

  background: #4c4c4c;
  border: 1px solid #eceded;
  border-radius: 100%;
}
.how-its-text {
  color: var(--pr-text-color);
}
.how-its-made-img {
  position: relative;
  display: flex;
  justify-content: center;
}
.how-its-made-image {
  border-radius: 15px;
}
.how-its-made-icon {
  width: 35px;
  height: 35px;
  fill: #f5f4f4;
  stroke: #f5f4f4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.how-its-made-img-block:hover .how-its-made-icon{
  stroke: var(--accent-color);
  fill: var(--accent-color);
  width: 50px;
  height: 50px;
  cursor: pointer;
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .how-container {
    width: 335px;
    padding: 20px 14px;
  }

  .how-its-made-span {
    color: var(--accent-color);
    margin-left: 6px;
  }
  .how-its-made-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 18px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .how-its-made {
    padding-bottom: 100px;
  }
  .how-its-made-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
  .how-container {
    margin: 0 auto;
  }
  .how-its-made-list {
    padding-right: 70px;
  }
  .try-it-interaction {
    width: 350px;
    margin-bottom: 28px;
  }
  .how-its-made-img-block.ready iframe {
    height: 400px;
  }
  .how-container {
    width: 614px;
    padding: 32px;
  }
  .how-its-made-icon {
    width: 44px;
    height: 44px;
  }
  .how-its-made-icon:hover,
  .how-its-made-icon:focus {
    width: 65px;
    height: 65px;
  }
  .how-its-made-img-block {
    max-width: 614px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .how-its-made-list {
    width: 550px;
  }
}
@media screen and (max-width: 1199px) {
  .how-its-made-img {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .how-container {
    margin: 0;
  }
  .how-its-made {
    padding-bottom: 128px;
  }
  .how-container {
    width: 516px;
    padding: 32px;
  }
  .how-its-made-desktop {
    display: flex;
    gap: 20px;
  }
  /* .how-its-made-img {
    margin-right: 20px;
  } */
  .how-its-made-img-block {
    margin-bottom: 0;
  }
  .try-it-interaction {
    margin: 0;
    margin-bottom: 28px;
  }
  .how-its-made-list {
    row-gap: 24px;
    padding-right: 27px;
  }
}
