.subsribe-section {
  padding-bottom: 72px;
  padding-top: 72px;
  width: 100%;
  max-height: 370px;
  background-image: url(../img/subscribe/subcribe_mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.subscribe-title {
  font-size: 24px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--pr-title-color);
  margin-bottom: 24px;
  width: 378px;
  margin-left: auto;
  margin-right: auto;
}

.text-subscribe {
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--pr-title-color);
  margin-bottom: 24px;
  width: 467px;
  margin: 0 auto;
}

.subscribe-btn {
  font-size: 18px;
  line-height: 1.22;
  color: var(--pr-title-color);
  background: var(--accent-color);
  border-radius: 100px;
  border: none;
  display: block;
  margin: 0 auto;
  transition: background 300ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background: #fcf1e0;
  color: var(--accent-color);
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .subsribe-section {
    background-image: url(../img/subscribe/subcribe_mobile_2x.jpg);
  }
}

@media screen and (min-width: 320px) {
  .subsribe-section {
    max-width: 767px;
    padding: 62px 0;
  }

  .text-subscribe {
    width: 278px;
    margin-bottom: 24px;
  }

  .subscribe-title {
    font-size: 20px;
    line-height: 1.2;
    width: 278px;
  }

  .subscribe-btn {
    font-size: 14px;
    line-height: 1.21;
  }
}

@media screen and (min-width: 768px) {
  .subsribe-section {
    background-image: url(../img/subscribe/subcribe_tablet.jpg);
    max-width: 1199px;
    padding: 72px 0;
  }

  .text-subscribe {
    width: 467px;
  }

  .subscribe-title {
    font-size: 24px;
    line-height: 1.16;
    width: 378px;
  }

  .subscribe-btn {
    font-size: 18px;
    line-height: 1.22;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .subsribe-section {
      background-image: url(../img/subscribe/subcribe_tablet_2x.jpg);
    }
  }
}

@media screen and (min-width: 1200px) {
  .subsribe-section {
    background-image: url(../img/subscribe/subcribe_desktop.jpg);
    max-width: 100%;
  }

  .text-subscribe {
    width: 467px;
  }

  .subscribe-title {
    width: 378px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .subsribe-section {
      background-image: url(../img/subscribe/subcribe_desktop_2x.jpg);
    }
  }
}
